body {
  transition: background-image 0.8s ease-in-out;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.app {
  text-align: center;
  background-color: transparent;
  transition: background-color 1s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.-bg-sunny-hot {
  background-color: #f8aa44;
  transition: background-color 1s ease-in-out;
  color: #000;
}
.-bg-sunny-template {
  background-color: #5196fd;
  transition: background-color 1s ease-in-out;
  color: #000;
}
.bg-night-bg-sunny-template {
  background-color: #1a1a1a;
  color: white;
  transition: background-color 1s ease-in-out;
}
.bg-twilight-bg-cloudy-sun,
.bg-twilight-bg-cloudy,
.bg-twilight-bg-rain,
.bg-twilight-bg-rain-big,
.bg-twilight-bg-sunny-template {
  background: linear-gradient(to top, #2c3e50, #ff8ea9, #fdb147);
  color: #252525;
}

.-bg-cloudy {
  background-color: #8c9da5;
  transition: background-color 1s ease-in-out;
  color: #000;
}
.bg-night-bg-cloudy {
  background-color: #1a1a1a;
  color: white;
  transition: background-color 1s ease-in-out;
}
.-bg-cloudy-sun {
  background-color: #53c9ff;
  transition: background-color 1s ease-in-out;
  color: #000;
}
.bg-night-bg-cloudy-sun {
  background-color: #1a1a1a;
  transition: background-color 1s ease-in-out;
  color: white;
}

.-bg-rain-big,
.-bg-rain {
  background-color: #293f77;
  transition: background-color 1s ease-in-out;
  color: white;
}
.bg-night-bg-rain-big,
.bg-night-bg-rain {
  background-color: #0d2666;
  transition: background-color 1s ease-in-out;
  color: white;
}

.-bg-snow {
  background-color: #e0eafc;
  transition: background-color 1s ease-in-out;
  color: #000;
}
.bg-night-bg-snow {
  background-color: #0d2666;
  color: white;
  transition: background-color 1s ease-in-out;
}

.bg-storm {
  background-color: #134299;
  transition: background-color 1s ease-in-out;
  color: white;
}

.-bg-fog {
  background-color: #7a7a7a;
  transition: background-color 1s ease-in-out;
  color: #000;
}
.bg-night-bg-fog {
  background-color: #383838;
  transition: background-color 1s ease-in-out;
  color: white;
}

.bg-default {
  transition: background-color 1s ease-in-out;
  background-color: #f0f0f0;
  color: #000;
}
.bg-night {
  background-color: #1a1a1a;
  transition: background-color 1s ease-in-out;
  color: white;
}

.main-title {
  position: relative;
  font-size: 50px;
  margin-top: 75px;
}

.interactive-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  gap: 10px;
  z-index: 1;
}

.interactive-section_button {
  background-color: #38beff;
  height: 60px;
  width: 28%;
  padding: 16px;
}

.interactive-section_button:hover {
  background-color: #000000;
  color: white;
}

.container-input-options {
  width: 90%;
  position: relative;
}

.input-serach-city {
  padding: 13px;
  border-radius: 8px;
  border: 2px solid rgb(30, 21, 80);
  transition: transform 0.2s ease;
  transition: background-color 0.3s ease;
  transition: color 0.3s ease, font-weight 0.3s ease;
  color: #444;
  background-color: #f9f9f9;
  width: 90%;
}

.input-serach-city:focus {
  outline: none;
  border-color: #069bff;
}

.history-searchs-container {
  width: 100%;
  max-height: 500px;
  margin-top: 1px;
  border: 1px solid gray;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  overflow-y: auto;
}

.history-search-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: initial;
  background-color: #444444;
  color: white;
  height: 41px;
  padding: 3px 10px;
}

.history-search-card:hover {
  background: #5f5f5f;
  cursor: pointer;
}

.option-search-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button_delete_search_card {
  background-color: transparent;
  padding: 0;
}

.main-city {
  position: relative;
  width: 280px;
  background-color: rgb(53, 53, 53);
  color: white;
  border-radius: 20px;
  padding: 10px;
  margin: 5px;
  margin-top: 20px;
  z-index: 0;
}

.main-city button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  font-size: 30px;
  border: none;
  padding: 0;
}

.main-city button:focus {
  outline: none;
  border: none;
}

.main-city button:hover {
  transform: scale(1.1);
}

.weather-description {
  margin: 0 auto 10px;
}

.error {
  color: red;
  margin-top: 1rem;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-city-enter-active {
  transition: all 1.5s ease;
}

.fade-city-enter-from {
  opacity: 0;
  transform: translateY(-20px);
}

.loading-init {
  display: flex;
  gap: 10px;
  height: 2rem;
  margin: 100px;
}

.loading-init span {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #157297;
  animation: loadingPoint 2s infinite;
}

.time-footer {
  background-color: #0d214d;
  color: #ffffff;
  font-size: 1.2rem;
  margin-top: 100px;
  position: relative;
  padding: 1rem;
  text-align: center;
  width: 100%;
  z-index: 1;
}

@keyframes loadingPoint {
  50% {
    transform: translateY(50px);
  }

  100% {
    transform: translateY(0px);
  }
}

@media (min-width: 640px) {
  .main-city {
    width: 480px;
    padding: 25px;
  }
  .extra-info-weather {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 400px));
  }
  .data-weather-main-city {
    font-size: 25px;
  }
  .interactive-section {
    width: 420px;
  }
  .input-serach-city {
    height: 36px;
    border-radius: 20px;
    padding: 18px;
    font-size: 20px;
  }
  .history-search-card {
    font-size: 22px;
  }
}
