body {
    transition: background-image 0.8s ease-in-out;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.app {
    text-align: center;
    padding: 2rem;
    background-color: transparent;
    transition: background-color 1s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app h1{
    position: relative;
}

.-bg-sunny-hot {
    background: linear-gradient(to top, #facd5c, #f8aa44);
    color: #000;
}

.-bg-sunny-template {
    background: linear-gradient(to top, #5196fd, #92cafc);
    color: #000;
}
.bg-night-bg-sunny-template {
    background: #1a1a1a;
    color: white;
}


.-bg-cloudy {
    background: linear-gradient(to top, #8c9da5, #8f9db1);
    color: #000;
}
.bg-night-bg-cloudy {
    background: #1a1a1a;
    color: white;
}

.-bg-cloudy-sun {
    background: linear-gradient(to top, #53c9ff, #79beff);
    color: #000;
}
.bg-night-bg-cloudy-sun {
    background: #1a1a1a;
    color: white;
}

.-bg-rain-big, .-bg-rain {
    background: linear-gradient(to top, #293f77, #066091, #004b74, #2a4792);
    color: white;
}
.bg-night-bg-rain-big, .bg-night-bg-rain {
    background: linear-gradient(to top, #0d2666, #023957, #063853, #040e27);
    color: white;
}

.-bg-snow {
    background: linear-gradient(to top, #e0eafc, #cfdef3);
    color: #000;
}
.bg-night-bg-snow {
    background: linear-gradient(to top, #0d2666, #023957);
    color: white;
}

.-bg-storm {
    background: linear-gradient(to top, #134299, #061c3a);
    color: white;
}

.-bg-fog {
    background: linear-gradient(to top, #7a7a7a, #c0c0c0);
    color: #000;
}
.bg-night-bg-fog {
    background: #383838;
    color: white;
}

.bg-default {
    background: #f0f0f0;
    color: #000;
}

.bg-night {
    background: #1a1a1a;
    color: white;
}



.interactive-section {
    display: flex;
    justify-content: center;
    width: 400px;
    z-index: 1;
}

.interactive-section_button {
    background-color: #38beff;
    height: 60px;
    padding: 16px;
}

.interactive-section_button:hover {
    background-color: #000000;
    color: white;
}

input {
    padding: 20px;
    border-radius: 8px;
    border: 2px solid rgb(30, 21, 80);
    margin-right: 0.5rem;
    transition: transform 0.2s ease;
    transition: background-color 0.3s ease;
    transition: color 0.3s ease, font-weight 0.3s ease;
    color: #444;
    background-color: #f9f9f9;
}

input:focus {
    outline: none;
    border-color: #069bff;
}

.history-searchs-container {
    width: 200px;
    margin-top: 1px;
    border: 1px solid gray;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
}

.history-search-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: initial;
    background-color: #444444;
    color: white;
    height: 41px;
    padding: 3px 10px;
}

.history-search-card:hover {
    background: #5f5f5f;
    cursor: pointer;
}

.button_delete_search_card {
    background-color: transparent;
    padding: 0;
}

.main-city {
    width: 300px;
    background-color: rgb(53,53,53);
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    margin-top: 20px;
    z-index: 0;
}

.error {
    color: red;
    margin-top: 1rem;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.4s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.fade-city-enter-active {
    transition: all 1.5s ease;
}

.fade-city-enter-from {
    opacity: 0;
    transform: translateY(-20px);
}

@keyframes rainFall {
    from {
        background-position: 0 -100px;
    }

    to {
        background-position: 0 100px;
    }
}