.tarjetas {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    justify-content: center;
    margin-top: 20px;
    transition: transform 0.5s ease;
}

.init-cities-card {
    position: relative;
    border-radius: 20px;
    background-color: #e6e6e61e;
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    border: 2px solid #c4c4c4;
    padding: 10px;
    margin: 5px;
    transform: translateX(100px);
    opacity: 0;
    animation: slideIn 0.5s ease-out forwards;
}

.h2-cities {
    margin-top: 10px;
    font-size: 17px;
    margin: 20px 5px 5px 5px;
}

.favorite-city-button {
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 14px;
    padding: 0;
    border: 0;
}

.favorite-city-button:focus {
    border: none;
    outline: none;
}

.favorite-city-button:hover {
    transform: scale(1.1);
}

.slide-enter-active,
.slide-leave-active {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.slide-enter,
.slide-leave-to {
    transform: translateX(50px);
    opacity: 0;
}


@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (min-width:640px) {
  .tarjetas {
    grid-template-columns: repeat(auto-fill, minmax(350px, 420px));
  }
  .h2-cities {
    font-size: 25px;
  }
  .favorite-city-button {
    font-size: 30px;
  }
}